/**{padding: 0px;margin: 0px;}*/
.test{color: blue;padding: 100px;}
button{border-radius: 5px;padding: 5px;margin: 5px}
.map{max-height: 50%;max-width: 80%;border: 10px double;}
.man{width: 3%;}
.manbt{background: rgb(123,123,123);}
.append{display: block;}
.unappend{display: none;}
